@using VNCLNIC.Models;
@model  Role
@{
    var ckactive = "";
    var ckroot = "";
    if (Model.IsActive == true)
    {
        ckactive = "checked";
    }
    if (Model.IsRoot == true)
    {
        ckroot = "checked";
    }
}


<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Thông tin nhóm quyền</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form role="form" id="form-role">
    <div class="modal-body">

        <input name="Id" id="Id" value="@Model.Id" type="hidden" class="form-control form-control-alternative">

        <div class="form-group">
            <label for="example-text-input" class="form-control-label">Tên nhóm quyền</label>
            <input name="Name" id="Name" value="@Model.RoleName" type="text" class="form-control form-control-alternative" placeholder="Nhập tên nhóm quyền">
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Kích hoạt?</label> <br />
                    <label class="custom-toggle">
                        <input name="IsActive" id="IsActive" type="checkbox" @ckactive>
                        <span class="custom-toggle-slider rounded-circle"></span>
                    </label>
                </div>
            </div>
            <div class="col-6">

                <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Quyền cao nhất?</label> <br />
                    <label class="custom-toggle">
                        <input name="IsRoot" id="IsRoot" type="checkbox" @ckroot>
                        <span class="custom-toggle-slider rounded-circle"></span>
                    </label>
                </div>
            </div>
        </div>
        <label for="example-text-input" class="form-control-label">Chọn các quyền</label>
        @{
            int tempCount = 0; //biến đếm để chia table ra là 2 cột
            string html = "";// xuất giao diện table
            string name = " name='Permission"; // name của permission cần lấy
        }

        @foreach (var item in ViewBag.Permissions)
        {
            var ck = "";
            if (Model.Permissions != null && Model.Permissions.Any(x => x.Id == item.Id))
            {
                ck = "checked";
            }
            if (tempCount % 2 == 0)
            {
                html += "<tr>";
            }
            html += "<td><div class='custom-control custom-checkbox'><input class='custom-control-input' type='checkbox'" + ck + " " + name + item.Id + "'" + "value=" + "'" + item.Id + "' id='Permission" + item.Id + "'" + "/>&nbsp;" +
                "<label class='custom-control-label' for='Permission" + item.Id + "'>" + item.PermissionName + "</label> </div>"
                + "</td>";

            if (tempCount % 2 > 0)
            {
                html += "</tr>";
            }

            tempCount++;




        }
        @{
            if (tempCount % 2 > 0)
            {
                html += "<td>&nbsp;</td></tr>";
            }
        }


        @{html = "<table class='table table-bordered table-hover' style='width:100%;'>" + html + "</table>";}

        @Html.Raw(html)
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Huỷ</button>
        <button type="button" id="btn-submit-role" class="btn btn-primary">
            <span class="btn-inner--text">Lưu</span>
        </button>
    </div>
</form>

<script>
    $(document).ready(function (e) {
        $('#RoleModel').modal('show');
    });

    $('#btn-submit-role').click(function (e) {
        $("#form-role").submit();
    });


    $("#form-role").submit(function (e) {
        e.preventDefault();
        var serializedForm = $(this).serializeArray();
        console.log(serializedForm);
        var permissions = [];
        $('.custom-control-input').each(function (e) {
            if (this.checked) {
                permissions.push($(this).val());
            }
        });
        var Id = $('#Id').val();
        var name = $('#Name').val();
        var isactive = false;
        var isroot = false;
        console.log($('#IsActive'));
        $.each(serializedForm, function (i, field) {
            if (field.name == "IsActive") { isactive = true }
            if (field.name == "IsRoot") { isroot = true }
        });
        $.ajax({
            type: "POST",
            dataType: "json",
            data: {
                Id: Id,
                name: name,
                isactive: isactive,
                isroot: isroot,
                permissions: permissions
            },
            url: "/Role/AddOrUpdate",
            success: function (item) {
                if (item.success) {
                    $('#RoleModel').modal('hide');
                    swal({ title: "Success", text: item.message, type: "success", buttonsStyling: !1, confirmButtonClass: "btn btn-success" });

                    doCommit();
                } else {
                    swal({ title: "Failed", text: item.message, type: "warning", buttonsStyling: !1, confirmButtonClass: "btn btn-warning" })
                }
            },
            error: function (err) {
                $('#RoleModel').modal('hide');
                setTimeout(function () {
                    swal({ title: "Failed", text: "Lưu dữ liệu không thành công", type: "warning", buttonsStyling: !1, confirmButtonClass: "btn btn-warning" })
                }, 500);
                console.log(err);
            }
        });
    });
</script>