@using VNCLNIC.Models;
@model  Role
@{
    var ckactive = "";
    var ckroot = "";
    if (Model.IsActive == true)
    {
        ckactive = "checked";
    }
    if (Model.IsRoot == true)
    {
        ckroot = "checked";
    }
}
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Thông tin nhóm quyền</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-12">
            <table class="tab_bordernone">
                <tbody>
                    <tr>
                        <td style="width:220px">Tên nhóm quyền</td>
                        <td class="s">:</td>
                        <td>@Model.RoleName</td>
                    </tr>
                    <tr>
                        <td style="width:220px">Trạng thái</td>
                        <td class="s">:</td>
                        <td>
                            @if (Model.IsActive == true)
                            {
                                <span class="badge badge-success">Kích hoạt</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">Ngưng kích hoạt</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td style="width:220px">Quyền cao nhất?</td>
                        <td class="s">:</td>
                        <td>
                            @if (Model.IsRoot == true)
                            {
                                <span class="badge badge-success">Có</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">Không</span>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
            <label>Các quyền sở hữu :</label>
            @{
                int tempCount = 0; //biến đếm để chia table ra là 2 cột
                string html = "";// xuất giao diện table
            }

            @foreach (var item in Model.Permissions)
            {
                if (tempCount % 2 == 0)
                {
                    html += "<tr>";
                }
                html += "<td><span class='badge badge-primary'>" + item.PermissionName + "</span>"
                    + "</td>";

                if (tempCount % 2 > 0)
                {
                    html += "</tr>";
                }

                tempCount++;
            }
            @{
                if (tempCount % 2 > 0)
                {
                    html += "<td>&nbsp;</td></tr>";
                }
            }


            @{html = "<table class='table table-bordered table-hover' style='width:100%;'>" + html + "</table>";}

            @Html.Raw(html)
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
</div>
<script>
    $(document).ready(function (e) {
        $('#RoleDetailModel').modal('show');
    });
</script>