@model VNCLNIC.Models.ChangePasswordViewModel

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Thay đổi mật khẩu</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form id="form-change-password">
    <div class="modal-body">
        <input name="Id" id="Id" value="@Model.Id" type="hidden" class="form-control form-control-alternative">

        <div class="form-group">
            <label for="example-text-input" class="form-control-label">Mật khẩu cũ</label>
            <input name="OldPassword" id="OldPassword" type="password" class="form-control form-control-alternative">
            <div class="invalid-feedback" id=""></div>
        </div>

        <div class="form-group">
            <label for="example-text-input" class="form-control-label">Mật khẩu mới</label>
            <input name="NewPassword" id="NewPassword" type="password" class="form-control form-control-alternative">
        </div>

        <div class="form-group">
            <label for="example-text-input" class="form-control-label">Nhập lại mật khẩu</label>
            <input name="ConfirmPassword" id="ConfirmPassword" type="password" class="form-control form-control-alternative">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Huỷ</button>
        <button type="button" id="btn-submit-changepassword" class="btn btn-primary">
            <span class="btn-inner--text">Lưu</span>
        </button>
    </div>
</form>


<script>
    $(document).ready(function (e) {
        $('#ChangePasswordModel').modal('show');
    });
    $('#btn-submit-changepassword').click(function (e) {
        $("#form-change-password").submit();
    });


    $("#form-change-password").submit(function (e) {
        e.preventDefault();
        var serializedForm = $(this).serializeArray();

        console.log(serializedForm);            

        if ($('#OldPassword').val() == '') {
            swal({ title: "Failed", text: "Vui lòng nhập mật khẩu cũ !", type: "warning", buttonsStyling: !1, confirmButtonClass: "btn btn-warning" })

        } else if ($('#NewPassword').val() == '') {
            swal({ title: "Failed", text: "Vui lòng nhập mật khẩu mới !", type: "warning", buttonsStyling: !1, confirmButtonClass: "btn btn-warning" })

        } else if ($('#ConfirmPassword').val() == '') {
            swal({ title: "Failed", text: "Vui lòng nhập lại mật khẩu !", type: "warning", buttonsStyling: !1, confirmButtonClass: "btn btn-warning" })

        } else if ($('#NewPassword').val() != $('#ConfirmPassword').val()) {
            swal({ title: "Failed", text: "Mật khẩu chưa khớp !", type: "warning", buttonsStyling: !1, confirmButtonClass: "btn btn-warning" })
        } else {
            $.ajax({
                type: "POST",
                dataType: "json",
                data: serializedForm,
                url: "/Account/ChangePassword",
                success: function (item) {
                    if (item.success) {
                        $('#ChangePasswordModel').modal('hide');
                        swal({ title: "Success", text: item.message, type: "success", buttonsStyling: !1, confirmButtonClass: "btn btn-success" });

                        doCommit();
                    } else {
                        swal({ title: "Failed", text: item.message, type: "warning", buttonsStyling: !1, confirmButtonClass: "btn btn-warning" })
                    }
                },
                error: function (err) {
                    $('#ChangePasswordModel').modal('hide');
                    setTimeout(function () {
                        swal({ title: "Failed", text: "Lưu dữ liệu không thành công", type: "warning", buttonsStyling: !1, confirmButtonClass: "btn btn-warning" })
                    }, 500);
                    console.log(err);
                }
            });
        }
    });
</script>