@media screen and (max-width:767px) {
    .resp-table {
        border: 0;
        width: 100%;
        background: #fff;
    }

        .resp-table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        .resp-table tr {
            display: block;
            margin-bottom: .625em;
            border-radius: 0px;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            overflow: hidden;
            margin: 8px 8px 20px;
            box-shadow: 1px 1px 2px #ddd;
            border: 1px solid #ddd;
        }

        .resp-table td {
            border-bottom: 1px solid #ddd;
            display: block;
            text-align: right !important;
            width: auto !important;
            border-left: 0 !important;
        }

        .resp-table .m-none {
            display: none;
        }

        .resp-table .project-actions {
            text-align: center !important;
            color: #14a33e;
        }

    .project-actions::after {
        content: attr(data-btn);
    }

    .resp-table td:before {
        content: attr(data-text);
        float: left;
        text-transform: uppercase;
        padding-right: 15px;
    }

    .resp-table td:last-child {
        border-bottom: 0;
    }

    .resp-table a.l {
        box-sizing: border-box;
        font-weight: 600;
        font-style: normal;
        line-height: 20px;
        font-size: 90%;
        color: #fff;
        border: 1px solid #f58220;
        border-radius: 20px;
        background-color: #f58220;
        padding: 5px 20px;
        display: inline-block;
    }

    .resp-table > tbody > tr:nth-child(even) > td {
        background: #f9f9f9;
    }

    .resp-table .icon_checkbox_checked::before, .resp-table .icon_checkbox_True::before, .resp-table .icon_checkbox_1::before {
        left: initial;
        right: .6rem;
    }
}

.dm_table td ev {
    cursor: text;
    position: relative;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 15px;
    display: inline-block;
}

.dm_table .eth {
    position: relative;
    color: #089E5A;
}

.dm_table .etd:hover ev::after, .dm_table tr:hover ev::after {
    content: '\e628';
    font-family: pe7;
    font-size: 16px;
    color: #089E5A;
    position: absolute;
    top: 2px;
    right: -10px;
    cursor: pointer;
}

.dm_table td .ec-txt {
    width: 100%;
    box-sizing: border-box;
}

.dm_table td .ec-sel {
    min-width: initial;
}

.tab_table tr > td:first-child {
    white-space: nowrap;
}

.dm_table {
    border-bottom: 1px solid #ECEFF4;
    width: 100%;
}

    .dm_table .th1, .dm_table .th2 {
        background: #fff;
        color: #1B2431 !important;
        border-left: 1px solid #E5E5E5;
        border-collapse: collapse;
        text-align: center !important;
        cursor: pointer;
        white-space: nowrap;
        padding: .7rem;
        text-transform: uppercase;
        font-size: 11px;
        position: relative;
    }

    .dm_table .th2 {
        cursor: default;
    }

        .dm_table .th1:first-child, .dm_table .th2:first-child {
            border-left: 0;
        }

.dm_table_sort {
    color: #8D9298;
    font-size: 10px;
    position: absolute;
    top: 7px;
    right: 7px;
}

    .dm_table_sort.up::before, .dm_table_sort.down::before {
        content: '\e682';
        font-family: pe7;
        font-size: 22px;
    }

    .dm_table_sort.down::before {
        content: '\e688';
    }

    .dm_table_sort:hover {
        background-color: #F2F4F8;
        color: #888;
    }

.dm_table .th-sort {
    padding-right: 30px;
}

.dm_table td {
    border: 1px solid #ECEFF4;
    padding: .6rem;
    cursor: default;
    border-bottom: 0;
    border-right: 0;
    vertical-align: top;
    position: relative;
    min-height: 35px;
    box-sizing: border-box;
}

.dm_table .tr1 td {
    border-collapse: collapse;
}

.dm_table .tr1, .dm_table .tr2 {
}

    .dm_table .tr1:hover, .dm_table .tr2:hover {
        box-shadow: inset 1px 0 0 #dadce0,inset -1px 0 0 #dadce0,0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
    }

.dm_table .tr_focus {
    background: #F2F4F8 !important;
}

.dm_table_link {
    font-size: 13px;
    font-family: Verdana;
    color: #1C6280;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

    .dm_table_link:hover {
        text-decoration: underline;
    }

.dm_table .content_view {
    padding: 15px;
    display: block;
    max-height: 100px;
    overflow: hidden;
    max-width: 680px;
}

.dm_table .tdcmd {
    text-align: center;
}

.dm_table td.qv {
    cursor: pointer;
}

.dm_table .l-2 {
    padding-top: 5px;
    font-weight: normal;
}

.dm_table .qv .pin0 {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    position: absolute;
    top: 10px;
    right: 10px;
}

.dm_table .tr1, .dm_table .tr2 {
}

    .dm_table .tr1:hover, .dm_table .tr2:hover {
        box-shadow: inset 1px 0 0 #dadce0,inset -1px 0 0 #dadce0,0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
    }

    .dm_table .tr1 td {
        border-collapse: collapse;
    }

.card-body.p-0 .table tbody > tr > td:last-of-type, .card-body.p-0 .table tbody > tr > th:last-of-type, .card-body.p-0 .table thead > tr > td:last-of-type, .card-body.p-0 .table thead > tr > th:last-of-type {
    padding-right: 0.3rem;
}
