
<div class="card-body">

    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-auto">
                    <!-- Avatar -->

                    <a href="#" class="avatar avatar-xl rounded-circle">
                        <img alt="Image placeholder" src="../../assets/img/theme/team-2.jpg">
                    </a>
                </div>
                <div class="col ml--2">
                    <h4 class="mb-0">
                        <a href="#!">John Snow</a>
                    </h4>

                    <p class="text-sm text-muted mb-0">Working remoteley</p>

                    <span class="text-success">●</span>
                    <small>Active</small>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Chọn
                        <i class="fas fa-angle-right"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Card body -->
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>
    </div>



    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-auto">
                    <!-- Avatar -->

                    <a href="#" class="avatar avatar-xl rounded-circle">
                        <img alt="Image placeholder" src="../../assets/img/theme/team-2.jpg">
                    </a>
                </div>
                <div class="col ml--2">
                    <h4 class="mb-0">
                        <a href="#!">Bác sĩ A</a>
                    </h4>

                    <p class="text-sm text-muted mb-0">Working remoteley</p>

                    <span class="text-success">●</span>
                    <small>Active</small>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                        Chọn
                        <i class="fas fa-angle-right"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Card body -->
        <div class="collapse" id="collapseExample1">
            <div class="card card-body">
                <div class="row">
                    <div class="col-md-2">
                        <button class="btn btn-outline-dark" disabled>6:00 - 7:00</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-outline-success">7:00 - 8:00</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-outline-danger">8:00 - 9:00</button>
                    </div>

                    <div class="col-md-2">
                        <button class="btn btn-outline-primary btn-neutral">6:00 - 7:00</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-outline-primary btn-neutral">7:00 - 8:00</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-outline-primary btn-neutral">8:00 - 9:00</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-footer">
    <button class="float-left btn btn-primary"><i class="fas fa-angle-left"></i> Quay lại</button>
    <button class="float-right btn btn-primary">Tiếp tục <i class="fas fa-angle-right"></i></button>
</div>
